/* Login Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 1200px;  /* Increase the max-width for more spacious form */
    padding: 20px;
}

/* Optional: add image on left side (similar to registration page) */
#login-image {
    width: 50%;
    height: 100%;
    padding: 10px;
    /* Add any image-related styles */
}

#login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.login-form {
    flex: 1;
    padding: 2rem;
    min-width: 320px;  
}

h2 {
    text-align: center;
    color: #0E2160; /* Adjust for color consistency */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}

button {
    padding: 15px;
    background-color: #0e2160;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #091740;
}

p {
    text-align: center;
    font-size: 0.9rem;
}

p a {
    color: #0e2160;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 100%;
    }

    #login-image {
        width: 50%;
        height: 200px; /* Adjust height for mobile */
    }

    .login-form {
        padding: 1.5rem;
    }
}
